{% extends 'base.html' %}
{% load static %}
{% block extJS %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/cart/orderinfo.js'%}"></script>
{% endblock %}

{% block content %}
    <h6>订单好:{{ orderNum }}</h6>
    <h6>当前状态:{{ orderStatu }}</h6>
    <ul>
    {% for orderAndGood in orderAndGoods %}
        <li>
            <img src="{{ orderAndGood.og_goods.productimg }}" alt="">
            <span>{{ orderAndGood.og_goods.productlongname }}</span>
            <span>{{ orderAndGood.og_num }}</span>
        </li>
    {% endfor %}

    <button>取消订单</button>
    <button orderNum = "{{ orderNum }}" id="pay_button">付款</button>

    </ul>
{% endblock %}